<h1><%= @user.name %>'s Profile</h1>
<p>Email: <%= @user.email %></p>

<h2>Posts</h2>
<% @posts.each do |post| %>
  <p><%= link_to post.title, post_path(post) %></p>
<% end %>

<h2>Comments</h2>
<% @comments.each do |comment| %>
  <p><%= comment.body %> on <%= link_to comment.post.title, post_path(comment.post) %></p>
<% end %>
